
    <form class="example-form" [formGroup]="recipeForm" (ngSubmit)="addRecipe()"> 
      <h3 style="text-align: right;">מתכון חדש</h3>
    <mat-form-field class="example-full-width" style="width: 50%;">
        <mat-label> שם המתכון</mat-label>
        <input matInput type="text"  formControlName="recipename">
        <mat-error *ngIf="recipeForm.controls['recipename'].hasError('required')">שדה חובה</mat-error>  
        <mat-error *ngIf="recipeForm.controls['recipename'].hasError('pattern')">יש להזין אותיות בלבד</mat-error>
        <mat-error *ngIf="recipeForm.controls['recipename'].hasError('minlength')">יש להזין שם תקין</mat-error>
        <mat-error *ngIf="recipeForm.controls['recipename'].hasError('maxlength')"> מקיסמום 30 תווים </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>תאור המתכון</mat-label>
        <textarea matInput type="text" formControlName="description"></textarea>
        <mat-error *ngIf="recipeForm.controls['description'].hasError('required')">
          שדה חובה
        </mat-error>
        <mat-error *ngIf="recipeForm.controls['description'].hasError('maxlength')"> מקיסמום 600 תווים </mat-error>
        <!-- <mat-error *ngIf="recipeForm.controls['description'].hasError('pattern')">יש להזין אותיות בלבד</mat-error> -->
      </mat-form-field>
      <mat-form-field floatLabel="always" style="margin-left: 20px;">
        <mat-label>זמן הכנה</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0" formControlName="timeOfMinutes">
        <mat-error *ngIf="recipeForm.controls['timeOfMinutes'].hasError('required')">
          שדה חובה
        </mat-error>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>רמת קושי</mat-label>
        <mat-select formControlName="level">
         
            <mat-option value="1">{{1}}</mat-option>
            <mat-option value="2">{{2}}</mat-option>
            <mat-option value="3">{{3}}</mat-option>
            <mat-option value="4">{{4}}</mat-option>
            <mat-option value="5">{{5}}</mat-option>
          
        </mat-select>
        <mat-error *ngIf="recipeForm.controls['level'].hasError('required')">
          שדה חובה
        </mat-error>
      </mat-form-field>
      <div formArrayName="layersOfCake">
        <p> :שלבי הכנה</p>
        <div *ngFor="let layer of layersCake.controls; let layerIndex = index" [formGroupName]="layerIndex">
            <div>
                <mat-form-field>
                    <mat-label>תיאור שכבה</mat-label>
                    <input formControlName="description" type="text" matInput>
                    <mat-error *ngIf="recipeForm.controls['description'].hasError('required')">
                      שדה חובה
                    </mat-error>
                    <!-- <mat-error *ngIf="recipeForm.controls['description'].hasError('pattern')">יש להזין אותיות  בלבד</mat-error> -->
                    <!-- <mat-error *ngIf="recipeForm.controls['description'].hasError('minlength')">יש להזין שם תקין</mat-error>
                    <mat-error *ngIf="recipeForm.controls['description'].hasError('maxlength')"> מקיסמום 50 תווים </mat-error> -->
                </mat-form-field>
            </div>

            <div formArrayName="ingredients">
                <div *ngFor="let ingredient of getIngredients(layerIndex).controls; let ingredientIndex = index">
                    <mat-form-field>
                        <mat-label>הוסף מוצר</mat-label>
                        <input matInput (blur)="addingredient(layerIndex)" [formControlName]="ingredientIndex">
                        <!-- <mat-error *ngIf="recipeForm.controls['ingredients'].hasError('pattern')">יש להזין אותיות ומספרים בלבד</mat-error> -->
                    </mat-form-field>
                </div>
            </div>
        </div>
        <button type="button" (click)="addLayer()" mat-flat-button color="primary">שכבה נוספת </button>
    </div>
      <mat-form-field class="example-full-width" style="width: 50%; margin-top: 20px;">
        <mat-label> תמונת מתכון</mat-label>
        <input matInput type="text" formControlName="img">
        <mat-error *ngIf="recipeForm.controls['img'].hasError('required')">
          שדה חובה
        </mat-error>
      </mat-form-field>
      <!-- <mat-form-field class="example-full-width">
        <mat-label> recipename</mat-label>
        <mat-checkbox formControlName="isPrivate"  >Hide required marker</mat-checkbox>
      </mat-form-field> -->
      
      <mat-form-field class="example-full-width">
        <mat-label>הוראות הכנה</mat-label>
        <textarea matInput placeholder="הוראות הכנה" type="text" formControlName="instructions"></textarea>
        <mat-error *ngIf="recipeForm.controls['instructions'].hasError('required')">
          שדה חובה
        </mat-error>
        <!-- <mat-error *ngIf="recipeForm.controls['instructions'].hasError('pattern')">יש להזין אותיות בלבד</mat-error> -->
      </mat-form-field>
      <section class="example-full-width">
        <mat-checkbox class="example-margin" formControlName="isPrivate">האם אתה רוצה שהמתכון יהיה פרטי</mat-checkbox>
      </section>
      <mat-form-field>
        <mat-label>קטגוריה</mat-label>
        <mat-select formControlName="categories" multiple>
          <!-- <mat-select-trigger>
            {{category[0] || ''}}
            @if ((category.length || 0) > 1) {
              <span class="example-additional-selection">
                (+{{(category.length || 0) - 1}} {{category.length === 2 ? 'other' : 'others'}})
              </span>
            }
          </mat-select-trigger> -->
          @for (c of categoryList; track c) {
        <mat-option  [value]="c.description" >{{c.description}}</mat-option>
      }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width" style="width: 50%;margin-right: 20px;">
        <mat-label> אחר</mat-label>
        <input matInput type="text" formControlName="newCategory">
        <mat-error *ngIf="recipeForm.controls['newCategory'].hasError('pattern')">יש להזין אותיות  בלבד</mat-error>
      </mat-form-field>
      <br/>
      <button class="submit-button" mat-flat-button color="accent" >אישור</button>
    </form>

