.recipe-card {
    max-width: 600px;
    margin: 20px ;
    padding: 20px;
    text-align: right;
    margin-left: 50%;

  }
  
  .ingredients-list {
    list-style-type: none;
    padding: 0;
  }
  
  .categories-list {
    list-style-type: none;
    padding: 0;
  }  
