<!-- <p>recipe-details works!</p>
<mat-card class="my-card">
<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" style="width: 15pc ;" alt="img of recipe">
<mat-card-header> 
    <mat-card-title>{{foundRecipe.recipename}}</mat-card-title>
</mat-card-header>
<mat-card-content>
    <mat-list-item>
        {{foundRecipe.description}}:תאור  <mat-icon>description</mat-icon>
    </mat-list-item>
    <mat-list-item>
 זמן הכנה: {{foundRecipe.timeOfMinutes | preparationTime}} <mat-icon> access_alarms</mat-icon>
    </mat-list-item>
        @for(l of foundRecipe.layersOfCake;track l)
        {
            <p>
                {{l.description}}: תאור שכבה  <mat-icon>description</mat-icon>
            </p>
            <ul>
                מצרכים  <mat-icon>shopping_cart</mat-icon>
            @for(i of l.ingredients;track i)
            {
                <li>
                    {{i}}
                </li>
            }
            </ul>
        }
        <mat-list-item>
            {{foundRecipe.instructions}}:הוראות  <mat-icon>toc</mat-icon>
        </mat-list-item>
        <mat-list-item [appStar]="foundRecipe.level ?? 0"> רמת קושי  </mat-list-item>
        
        <h3>קטגוריות</h3>
        @for(c of foundRecipe.categories; track c)
        {

            <div>{{c.categoryName}}</div>
        }
        <mat-list-item>
            {{foundRecipe.dataAdd}}:תאריך העלה  <mat-icon>today</mat-icon>
        </mat-list-item>
</mat-card-content>
<button  (click)="deleteRecipe(foundRecipe._id)">מחיקה</button> -->
<!-- <h1>שכבות</h1>
  @for(l of foundRecipe.layersOfCake;track l)
  {
    <h2>תיאור שכבה</h2>
    <div>{{l.description}}</div>
    <h2>מצרכים </h2>
 
    @for(i of l.ingredients;track i)
    {
        <li>{{i}}</li>
    }
  } -->
<!-- <h1>הוראות</h1>
<div>{{foundRecipe.instructions}}</div>

<h1> רמת קושי </h1>
<div [appStar]="foundRecipe.level ?? 0"></div>
<h1> קטגוריות</h1>
@for(c of foundRecipe.categories; track c)
{
    <div>{{c.categoryName}}</div>
}

<h1>תאריך העלה</h1>
<div>{{foundRecipe.dataAdd}}</div>
<button  (click)="deleteRecipe(foundRecipe._id)">מחיקה</button>
</mat-card>

<mat-card class="my-card">
    <mat-card-header>
      <mat-card-title>כותרת הכרטיס</mat-card-title>
      <mat-card-subtitle>תת כותרת הכרטיס</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>תוכן הכרטיס</p>
      <mat-list>
        <mat-list-item>
          <mat-icon>person</mat-icon> שם: {{foundRecipe.recipename}}
        </mat-list-item>
        <mat-list-item>
          <mat-icon>email</mat-icon> דוא"ל: {{foundRecipe.description}}
        </mat-list-item>
      
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>פעולה 1</button>
      <button mat-button>פעולה 2</button>
    </mat-card-actions>
  </mat-card> -->
  <!-- <div style="display: flex; justify-content: center; align-items: center; margin-top: 2pc;    margin-right: 15pc; ">
    <mat-card class="my-card" style="width: 600px;display: flex;flex-direction: row-reverse; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);border:2px solid rgb(19, 249, 237)">
     
      <div style="flex: 1; border-radius: 10px 0 0 10px;">
        <img mat-card-image src={{foundRecipe.img}} style="width: 230%; height: 101%; border-radius: 10px 10px 10px;margin-top: -2px;border:3px solid rgb(19, 249, 237)" alt="img of recipe">
      </div>
      <div style="flex: 2; padding: 20px;">
        <mat-card-header style="text-align: center;margin-left: 50%; ">
            <mat-card-title style="font-size: larger; font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" >{{foundRecipe.recipename}}</mat-card-title>
        </mat-card-header>
        <br/>
        <mat-card-content style=" text-align: right;">
            <mat-list-item>{{foundRecipe.description}}:תאור </mat-list-item>
            <br/>
            <mat-list-item> {{ foundRecipe.timeOfMinutes | preparationTime }} </mat-list-item>
            
            @for(l of foundRecipe.layersOfCake; track l)
            {
                <p>
                    {{l.description}}:תאור שכבה
                </p>
                
                  : רכיבים
                    <br/>
                    @for(i of l.ingredients; track i)
                    {
                      {{i }}  <mat-icon>minimize</mat-icon>
                        
                        <br/>
                    }
               
            }
            <br/>
            <mat-list-item>{{foundRecipe.instructions}}: הוראות</mat-list-item>
            <br/>
           
         <mat-list-item [appStar]="foundRecipe.level ?? 0"></mat-list-item>
          <br/>
          <br/>
            מכיל קטגוריות
            <br/>
            @for(c of foundRecipe.categories; track c)
            {
                {{c.categoryName}}<mat-icon>minimize</mat-icon>
                <br/>
            }
            <br/>
            <mat-list-item>{{foundRecipe.dataAdd}}: הועלה בתאריך </mat-list-item>
        </mat-card-content>    
    </div>
    </mat-card>
  </div>
    <button *ngIf="isEnabaled" style="width: 54.5%; padding: 10px; background-color: rgb(19, 249, 237); color: #fff; border: none;  cursor: pointer;margin-top: -4px; margin-left: 22.8%;" (click)="deleteRecipe(foundRecipe._id)">מחיקה</button>
  <div>
  </div> -->
  <div class="recipe-card-container">
    <mat-card class="recipe-card">
      <img mat-card-image [src]="foundRecipe.img" alt="img of recipe">
     
      <div class="recipe-card-content">
        <mat-card-header class="recipe-card-title">
     
           <mat-card-title style="font-size: x-large;
           font-family: auto;
           margin-left: 17pc;
           font-weight: bold;">{{foundRecipe.recipename}}</mat-card-title>

        </mat-card-header>
        <br/>
        <mat-card-content>
          <mat-list-item> תאור : {{foundRecipe.description}}</mat-list-item>
          <br/>
          <mat-list-item>{{foundRecipe.timeOfMinutes | preparationTime}}</mat-list-item>
          
          <div *ngFor="let l of foundRecipe.layersOfCake">
            <p> תאור שכבה : {{l.description}}</p>
            : רכיבים
            <br/>
            <div *ngFor="let i of l.ingredients">
              {{i}} <mat-icon>minimize</mat-icon>
              <br/>
            </div>
          </div>
          <br/>
          <mat-list-item>הוראות : {{foundRecipe.instructions}}</mat-list-item>
          <br/>
          <mat-list-item [appStar]="foundRecipe.level ?? 0"></mat-list-item>
          <br/>
          <br/>
          מכיל קטגוריות
          <br/>
          <div *ngFor="let c of foundRecipe.categories">
            {{c.categoryName}} <mat-icon>minimize</mat-icon>
            <br/>
          </div>
          <br/>
          <mat-list-item>{{foundRecipe.dataAdd}}: הועלה בתאריך</mat-list-item>
        </mat-card-content>
        <button  mat-raised-button color="accent" *ngIf="isEnabaled" class="delete-button" (click)="deleteRecipe(foundRecipe._id)">מחיקה</button>
      </div>
    </mat-card>
  </div>
  

  






