
<!-- <app-login></app-login> -->
<nav>
    <ul>

        <li><a routerLink="login">login</a></li>
        <li><a routerLink="register">register</a></li>
        <li><a routerLink="allrecipe">recipe</a></li>
       
        @if(userService.token){ 
      
            <li><a routerLink="home">home</a></li>
        }

    
    </ul>
</nav>
<router-outlet></router-outlet>

<!-- <app-login (moveToSignUpEvent)="onMoveToSignUp($event)"></app-login> -->
<router-outlet (activate)="onActivate($event)" ></router-outlet>
<!-- <nav class="navBar">
 
    <a routerLink="home">
        <button mat-button class="btnNavBar">בית</button>
    </a>

    <a routerLink="login">
        <button mat-button class="btnNavBar">התחברות</button>
    </a>

  
    <a routerLink="signUp">
        <button mat-button class="btnNavBar">הרשמה</button>
    </a>
</nav>
<router-outlet></router-outlet> -->
